* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrollbars if the content is exactly viewport size */
}

#table-container {
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    overflow: auto; /* Adds scroll if the table is larger than the container */
}
/* Add this to your existing CSS file */

.cell {
    perspective: 400px;
}

.info {
    /* transform: rotateX(90deg); */
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: transparent;
    pointer-events: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* opacity: 0; */
}

/* Hover animations */
.cell:hover .info {
    transform: rotateX(0deg);
    background-color: rgba(26, 188, 156, 0.1); /* Background color on hover */
    opacity: 1; /* Make it visible on hover */
}

/* Additional styling for table cell */
.cell {
    position: relative;
    height: 100%;
    border-radius: 4px;
    background-color: #ECF0F1;
    box-shadow: inset 0 2px 20px #d1d1d1;
}

table tr td.cell {
    border: 1px solid #d1d1d1; /* Add border for better visualization */
    box-shadow: inset 0 2px 20px #d1d1d1;
}