:root {
    --border: 10px solid;
}

body {
    border: var(--border) red;
    display: grid;
    gap: 100px 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "header header header"
        "nav main main"
        "footer footer footer";
}
header {
    border: var(--border) green;
    grid-area: header;
    & > h1 {
        color: red;
    }
    & > h2 {
        color: blue;
    }
}
nav {
    border: var(--border) blue;
    grid-area: nav;
}
main {
    border: var(--border) yellow;
    grid-area: main;
    }
    & > h3 {
        color: green;
    }
    & > h4 {
        color: yellow;
    }
    & > h5 {
        color: orange;
    }
    & > h6 {
        color: purple;
    }
    & > p {
        color: red;
    }
footer {
    border: var(--border) cyan;
    grid-area: footer;
}